{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    <div class="home">
        <!-- Background image artist https://unsplash.com/@thepootphotographer -->
        <div class="home_background parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/courses.jpg') }}" data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_title">About us</div>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="{{ path('app_homepage') }}">Home</a></li>
                                    <li>About us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin: 150px;">
    <div class="row g-4 justify-content-center mt-5">
        {{ lesson.title }} ({{ lesson.course.title }})
        <div>
            <i class="fa fa-user"></i>{{ lesson.updatedAt ? lesson.updatedAt|date('d.m.Y') : '' }} (created: {{ lesson.createdAt ? lesson.createdAt|date('d.m.Y') : '' }})
        </div>
    </div>
        <div class="row g-4 justify-content-center mt-5">
        {{ course.description }}
        </div>
        <div class="course_author d-flex align-items-center">
            <div class="course_author_image">
                <img src="{{ asset('images/teacher_3.jpg') }}" alt="Author Image" class="rounded-circle" style="width: 40px; height: 40px;">
            </div>
            <div class="course_author_name ml-2">{{ course.instructor.username }}</div>
        </div>
        <div class="course_details">
            <div class="fa fa-clock-o mr-2">{{ course.hours }}:{{ course.minutes }} Hrs</div>
            <div class="fa fa-user">{{ course.createdAt ? course.createdAt|date('d.m.Y') : '' }}</div>
        </div>
        <div class="row g-4 justify-content-center mt-5">
            {% for lesson in course.lessons %}
                {{ include('shared/_lesson_snippet.html.twig', {lesson: lesson, label: "Start"}) }}
            {% else %}
                <div class="col-12"><h5>No lessons found</h5></div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            {% if is_granted('ROLE_INSTRUCTOR') %}
                <div class="col text-end">
                    <a class="btn btn-primary" href="{{ path('app_lessons_new') }}">Add lesson</a>
                </div>
            {% endif %}
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ path('app_courses_index') }}">Back to list</a>
            </div>
            {% for enrollemnt in course.enrollments %}
                {% if app.user.id == enrollemnt.user.id %}
                    <div class="col-auto">
                        <a class="btn btn-warning" href="{{ path('app_courses_unenroll', {id: course.id}) }}">Unenroll</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if is_granted('ROLE_INSTRUCTOR') %}
                <div class="col-auto">
                    <a class="btn btn-primary" href="{{ path('app_courses_edit', {'id': course.id}) }}">Edit</a>
                </div>
                <div class="col-auto mt-n3">
                    {{ include('courses/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}