<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card course">
                <div class="course_image">
                    <img src="{{ asset('images/course_3.jpg') }}" alt="" class="card-img-top">
                </div>
                <div class="card-body">
                    <div class="course_header d-flex flex-row align-items-center justify-content-between">
                        <div class="course_title">
                            {% if is_granted('ROLE_INSTRUCTOR') %}
                                <h3><a href="{{ path('app_lessons_show', {'id': lesson.id}) }}">{{ lesson.title }}</a></h3>
                                <p><a href="{{ path('app_lessons_show', {'id': lesson.id}) }}">Show content</a></p>
                            {% endif %}
                        </div>
                        <div class="course_subtitle">
                            {% if is_granted('ROLE_INSTRUCTOR') %}
                                <h3><a href="{{ path('app_lessons_edit', {'id': lesson.id}) }}" class="btn btn-warning">Update</a></h3>
                            {% else %}
                                <h3><a href="{{ path('app_lessons_show', {'id': lesson.id}) }}" class="btn btn-primary">{{ label }}</a></h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center p-4 pb-3">
                        <h5 class="mb-4">{{ lesson.title }}</h5>
                        {% if app.user is not null %}
                        {% for enrollment in app.user.enrollments %}
                            {% for progress in enrollment.progresses %}
                                {% if progress.status == 1 and lesson.id == progress.lessons.id %}
                                    <h6 class="text-success mt-n3">COMPLETED</h6>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% else %}
                            <a href="{{ path('app_login') }}">Login to track your progress</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

