<!-- Sections -->

<div class="grouped_sections">
    <div class="container">
        <div class="row">

            <!-- Why Choose Us -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Why Choose Us?</div>
                <div class="accordions">

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center active">
                            <div>Mauris vehicula nisi congue?</div>
                        </div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                                    pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis
                                    in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center">
                            <div>Vehicula nisi congue, blandit?</div>
                        </div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                                    pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis
                                    in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center">
                            <div>Mauris vehicula nisi congue?</div>
                        </div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                                    pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis
                                    in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center">
                            <div>Nisi congue, blandit purus sed?</div>
                        </div>
                        <div class="accordion_panel">
                            <div>
                                <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                                    pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis
                                    in. Aenean id varius quam.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Events -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Upcoming Events</div>
                <div class="events">

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">20</div>
                                <div class="event_month">April</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">New Marketing Course Release</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">23</div>
                                <div class="event_month">April</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">Students Art Workshop</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">25</div>
                                <div class="event_month">April</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">Launch Party for a new Platform</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">27</div>
                                <div class="event_month">April</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">New Marketing Course</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">29</div>
                                <div class="event_month">April</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">New Marketing Course</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- News -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Latest News</div>
                <div class="news">

                    <!-- News Post -->
                    <div class="news_post d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="news_post_image"><img src="{{ asset('images/news_1.jpg') }}"
                                                              alt="https://unsplash.com/@beccatapert"></div>
                        </div>
                        <div class="news_post_body">
                            <div class="news_post_date">April 02, 2018</div>
                            <div class="news_post_title"><a href="{{ path('app_news') }}">Why Choose online education?</a></div>
                            <div class="news_post_author">By <a href="#">William Smith</a></div>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="news_post_image"><img src="{{ asset('images/news_2.jpg') }}"
                                                              alt="https://unsplash.com/@nbb_photos"></div>
                        </div>
                        <div class="news_post_body">
                            <div class="news_post_date">April 02, 2018</div>
                            <div class="news_post_title"><a href="{{ path('app_news') }}">Books, Kindle or tablet?</a></div>
                            <div class="news_post_author">By <a href="#">William Smith</a></div>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="news_post_image"><img src="{{ asset('images/news_3.jpg') }}"
                                                              alt="https://unsplash.com/@rawpixel"></div>
                        </div>
                        <div class="news_post_body">
                            <div class="news_post_date">April 02, 2018</div>
                            <div class="news_post_title"><a href="{{ path('app_news') }}">Why Choose online education?</a></div>
                            <div class="news_post_author">By <a href="#">William Smith</a></div>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="news_post_image"><img src="{{ asset('images/news_4.jpg') }}"
                                                              alt="https://unsplash.com/@jtylernix"></div>
                        </div>
                        <div class="news_post_body">
                            <div class="news_post_date">April 02, 2018</div>
                            <div class="news_post_title"><a href="{{ path('app_news') }}">Books, Kindle or tablet?</a></div>
                            <div class="news_post_author">By <a href="#">William Smith</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>